/* Stylize body */
body
{
    font-family: 'Roboto', sans-serif;
    padding-top: 65px;
}

.container
{
    max-width: 960px;
}

.container-title
{
    font-weight: 700;
    line-height: 1;
}

/* Stylize navbar */
.navbar
{
    background-color: white;
    border-bottom: 3px solid rgba(254, 95, 26, 0.65);
}

.nav-link
{
    font-size: 18px;
    font-weight: 400;
}

.navbar .navbar-brand .logo
{
    min-width: 125px;
    min-height: 25px;
}

.time-label
{
    margin-bottom: 0;
}

#between-dates
{
    display: none;
}

#download-options
{
    width: 50%;
}

#success, #warning
{
    display: none;
}

#download-spinner
{
    display: none;
}

#map 
{ 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}

.selectedSegment 
{
    position: absolute;
    font-family: sans-serif;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    width: 30%;
    border: 2px solid black;
    font-size: 14px;
    color: #222;
    background-color: #fff;
    border-radius: 3px;
}

/* Remove URL definition from SwaggerUI */
.swagger-ui .info hgroup.main a 
{
    display: none;
}